.THIS {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 7px;
    width: 225px;
    max-height: 75px;
}

.THIS .input{
    z-index: 0;
}
.THIS .sl{
    margin-top: -1em;
    z-index: 100;
}

.THIS .ddlOpt{
    width: 200px;
    border: 1px solid #d4d4d4;
    border-top: none;
    z-index: 99;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    position: relative;
    display: inline-block;
}
.THIS .ddlOpt:hover{
    background-color: #e9e9e9; 
}